html, body {
    height: 100%;
    width:  100%;
}

body {
    margin: 0px;
    padding: 0px;
}

#app {
    width: 100%;
    height: 100%;
}

#nav {
    height: 66px;
    background: #384c5d;
    color: #fff;
}

h2.title-logo {
  padding: 17px;
  box-sizing: border-box;
  font-family: monospace;
}

#plot-wrap {
  margin-top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mem-usage-plot {
  width:90%;
  height:350px;
}
